<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog | <%= title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/style-tw.css" type="text/css">
    <%- include('./partials/head.ejs') %>  
</head>
<body class="bg-yellow-50/25">
    <%- include('./partials/nav.ejs') %>
    <div class="container mx-auto px-4 py-8 mt-20">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden p-8">
            <h3 class="text-3xl font-semibold mb-4">About</h3>
            <p class="text-lg text-gray-700 mb-4"><br>Hey, I'm Vince Warren Pradas, the developer of this blog website. I built this from scratch and this is my first project using a server-side programming language called Node.js. Whether you're here to read, share your thoughts, or create your own blog, IDC enjoy the site, feel free to explore, write, and connect with others. If you ever find a bug or something here are some buttons below that will redirect you to my contact. You can send me some screenshots so I can fix it, or you could totally fix it yourself I've attached the Source Code Url in the landing page.</p>
            <div class="flex space-x-4">
                <a href="https://www.facebook.com/vince.6910?mibextid=ZbWKwL" class="inline-block bg-gradient-to-b from-red-500 to-purple-500 text-white px-6 py-3 rounded-md shadow-md hover:bg-opacity-90 transition duration-300">Messenger</a>
                <a href="https://web.telegram.org/k/#@vince691" class="inline-block bg-gradient-to-b from-blue-500 to-blue-700 text-white px-6 py-3 rounded-md shadow-md hover:bg-opacity-90 transition duration-300">Telegram</a>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
